*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
}
.container{
    margin: auto;
    margin-top: 20px;
    
}

.btn-group{
    width: 150px;
    padding: 25px;
    align-content: center;
}